name: custom workflow

on:
  push:
    branches:
      - test-branch
      - experiment-branch
    paths-ignore:
      - "docs/*"
      - "infra/*"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff pytest dagster dagster-webserver pandas scikit-learn
      - name: Lint with ruff
        run: |
          # stop the build if there are Python syntax errors or undefined names
          ruff check .
      - name: Test with pytest
        run: |
          # Run tests if any exist, otherwise just check that the dagster definitions load
          dagster project verify --python-file platform/orchestration/dagster/definitions.py
